<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="Warn">
  <targets>
    <target name="asyncPlex" xsi:type="AsyncWrapper">
      <target name="plexLog" xsi:type="File" fileName="~/PlexService.log" />
    </target>
    <target name="genLog" xsi:type="File" fileName="~/PlexLander.log" />
    <target name="devnull" xsi:type="Null" />
  </targets>
  <rules>
    <logger name="PlexService" minlevel="Trace" writeTo="asyncPlex" final="true"/>
    <logger name="*" minlevel="Debug" writeTo="genLog" />
    <logger name="Microsoft.*" writeTo="devnull" final="true" />
  </rules>
</nlog>