<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      throwExceptions="true"
      internalLogLevel="Info"
      internalLogFile="NLog.debug.log">
  <targets async="true">
    <default-target-parameters xsi:type="File" deleteOldFileOnStartup="true"/>
    <target name="plexLog" xsi:type="File" fileName="PlexService.log" />
    <target name="genLog" xsi:type="File" fileName="PlexLander.log" />
    <target name="msLog" xsi:type="File" fileName="Server.log" />
  </targets>
  <targets>
    <target name="devnull" xsi:type="Null" />
  </targets>
  <rules>
    <logger name="PlexLander.Plex.*" writeTo="plexLog" final="true"/>
    <logger name="Microsoft.*" minLevel="Info" writeTo="msLog" final="true" />
    <logger name="*" minlevel="Trace" writeTo="genLog" />
  </rules>
</nlog>