@model PlexLander.ViewModels.Landing.LandingViewModel
<div class="page-header">
    <h1>Welcome to Volk!</h1>
    <p class="lead">Check what's new or add something new. It's up to you!</p>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Plex</p>
    </div>
    <div class="col-md-4">
        <p>
            Radarr
        </p>
    </div>
</div>
